@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Montserrat";
}

header {
  background-image: url("../assets/img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header__navbar {
  border-bottom: 1px solid #7f7f7f;
}

.header__navbar-wrapper {
  max-width: 1113px;
  margin: 0 auto;
  padding: 40px 0;
}

.header__menu>ul {
  display: flex;
  justify-content: flex-end;
}

.header__menu>ul>li {
  list-style-type: none;
  margin-left: 45px;
}

.header__menu>ul>li>a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
}

.header__menu>ul>li>a:hover {
  text-decoration: underline;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
  padding-bottom: 335px;
}

.header__content-description {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.header__content-title {
  max-width: 830px;
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  text-align: center;
}

.header__content-btn>button {
  padding: 15px 36px;

  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

section {
  padding: 110px 0;
}

.advantages__content {
  max-width: 1113px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__content-title {
  margin-bottom: 50px;
  max-width: 760px;

  font-style: normal;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
  font-weight: 800;
}

.advantages__content-description {
  max-width: 750px;
  margin-bottom: 50px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;

}

.advantages__content-btn>button {
  padding: 15px 36px;

  border-radius: 30px;
  background: #4985FF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border: none;
  color: #FFFFFF;
}

.advantages__items {
  display: flex;
  margin-bottom: 55px;
}

.advantages__item {
  display: flex;
}

.advantages__item-content {
  margin-left: 17px;
  padding-top: 45px;
  max-width: 226px;
}

.advantages__item-title {
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.advantages__item-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.about {
  background-color: #F6F6F8;
}

.about__content {
  max-width: 1113px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.about__content-wrapper {
  max-width: 489px;
  max-width: 489px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__content-wrapper>a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF;
}

.about__content-wrapper>a:hover {
  text-decoration: none;
}

.about__content-title {
  margin-bottom: 40px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.about__content-description {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

hr {
  max-width: 1113px;
  margin: 0 auto;
  margin-bottom: 70px;

  border: 1px solid #E0E0E0;
}

.about__items {
  margin: 0 auto;
  max-width: 1113px;
  display: flex;
  justify-content: space-evenly;
}

.about__items-img {
  height: 30px;
}

.about__items-content {
  display: flex;
  flex-direction: column;
}

.about__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__item-title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

.about__item-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

@media screen and (max-width: 800px) {
  header {
    padding: 0 15px;
    height: 100%;
  }

  .header__navbar-wrapper {
    display: none;
  }

  .header__content-title,
  .advantages__content-title {
    font-size: 29px;
    line-height: 43px;
  }

  section {
    padding: 55px 15px;
  }

  .advantages__content-title,
  .advantages__content-description {
    text-align: left;
  }

  .advantages__items {
    flex-direction: column;
  }

  .advantages__item {
    margin-bottom: 15px;
  }

  .about__items {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__items-content {
    margin-right: 25px;
    margin-bottom: 20px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__content-wrapper {
    margin-bottom: 20px;
  }
}